html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: auto;
}

.icon {
    vertical-align: top;
    margin-left: 10px;
}

.profile {
    text-decoration: none;
    color: #24246b;
}

.profile:hover {
    text-decoration: underline;
    text-decoration-color: rgb(36, 95, 197);
    color: rgb(36, 95, 197);
    font-weight: 400;
}

.round {
    margin-top: 10px;
    margin-bottom: 10px;
}

#result {
    border: 1px black solid;
    border-radius: 7px;
    width: 90%;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: initial;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.img {
    height: 250px;
    width: 250px;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    margin-bottom: 5%;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.text1 {
    margin-left: 20px;
}

.m-b-md {
    margin-bottom: 30px;
}